:root {
    --mobile-breakpoint: 767px;
    --header-background: #E1EBF2;
    --header-border: #BECBD4;
    --main-background: #F5F5F8;
    --card-background: #FFFFFF;
    --card-background-alt: #DFEBF3;
    --card-border: #E4EBED;
    --card-border-alt: #FEFFFF;
    --expand-button-background: #E0E0E1;
    --expand-button-background-alt: #F5F6F9;
    --expand-button-glyph: #545456;
    --text-primary: #010101;
    --card-shadow: rgba(0, 0, 0, 0.04);
    --button-background: #000000;
    --button-background-hover: #777777;
    --button-text: #FFFFFF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--header-background);
    border-bottom: 1px solid var(--header-border);
    padding: 12px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 14px;
    max-width: 70%;
    display: inline-block;
    margin-left: 10px;
}

header span {
    display: inline-block;
    margin-right: 10px;
}

header a {
    text-decoration: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 100%;
    margin: auto;
    margin-top: 40px;
    background-color: var(--main-background);
}

.masonry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px 5px;
}

.column {
    padding: 0 5px 0 5px;
}

.card {
    padding: 10px;
    margin: 0 0 10px 0;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    box-shadow: 0 0 4px var(--card-shadow);
}

.card.odd {
    background-color: var(--card-background);
    border: 2px solid var(--card-border);
}

.card.even {
    background-color: var(--card-background-alt);
    border: 2px solid var(--card-border-alt);
}

.card.odd .expand-button {
    background-color: var(--expand-button-background);
}

.card.even .expand-button {
    background-color: var(--expand-button-background-alt);
}

.card-header {
    margin: 0 0 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.card-header>h6 {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    line-height: 14px;
    flex-grow: 2;
}

.card-header>h6:before {
    content: '';
    position: absolute;
    height: 90%;
    width: 3px;
    left: -17px;
    top: 5%;
    background-color: var(--text-primary);
}

.expand-button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    margin: auto;
    position: relative;
    cursor: pointer;
}

.expand-button::before, .expand-button::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: var(--expand-button-glyph);
    top: 9px;
    left: 4px;
    transition: transform 0.3s;
}

.expand-button::after {
    transform: rotate(-90deg);
}

.card-body {
    height: 0;
    overflow: hidden;
    transition: transform 0.3s;
}

.card.expanded .expand-button::after {
    transform: none;
}

.card.expanded .card-body {
    height: auto;
}

.tray {
    width: 100%;
    background-color: var(--main-background);
    padding: 20px 10px;
}

.tray a {
    display: block;
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    background-color: var(--button-background);
    color: var(--button-text);
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.tray a:hover {
    background-color: var(--button-background-hover);
}

@media screen and (min-width: 768px) {
    .container {
        width: 640px;
    }

    header h1 {
        font-size: 18px;
        margin: 0;
    }    

    header span {
        margin: 0;
    }
}